.lightSquare {
    width: 100%;
    height: 100%;
    background-color: gray;
    border: 0 solid gray;
    appearance: none;
    cursor: pointer;
    border-radius: 5px;
    /* aspect-ratio: 1 / 1; */
    transition: all 200ms ease;
}

.lightSquare.on {
    background-color: green;
    border-color: green;
}

.lightSquare:hover {
    border-color: purple;
    border-width: 5px;
}

.lightSquare:active {
    border-width: 0;
}
