.main {
    display: grid;
    grid-template-areas:
        "header aside"
        "lights aside";
    grid-template-columns: 70% minmax(200px, 30%);
    grid-template-rows: min-content auto;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main > h1 {
    grid-area: header;
    margin: 10px 5px;
    text-align: center;
    color: yellow;
    font-size: 4rem;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: radial-gradient(
        closest-side circle at center,
        yellow 0,
        rgba(0 0 0 / 0%) 400%
    );
    line-height: 1.5;
    animation: flicker 10s linear infinite;
}

.settings {
    grid-area: aside;
}

.summary {
    font-size: 2rem;
    margin: 5px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    grid-area: lights;
    overflow: hidden;
}

@media (max-width: 800px) {
    .main {
        grid-template-areas: "header" "aside" "lights";
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content auto;
    }
}

@keyframes flicker {
    47%,
    53%,
    55%,
    60% {
        opacity: 0.2;
    }
    0%,
    46%,
    54%,
    56%,
    61%,
    100% {
        opacity: 1;
    }
}
